<div class="login-container" style="max-width: 400px; margin: 20px 0 0 147px; padding: 20px;">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

    <!-- Email -->
    <div>
      <label for="email">Email:</label>
      <input #email="ngModel" id="email" name="email" type="email" email [(ngModel)]="loginData.email" required />
      <div *ngIf="email.invalid && email.touched">
        <small style="color: red;">Enter Valid Email.</small>
      </div>
    </div>
    <!-- if we just put ngModel without braces, then we can pass data directly through the loginForm variable defined in the form tag, through onSubmit function
     
    but if we define the value of which we want to pass like loginData.name then we can directly send the data to loginData array.
    -->
    <!-- Password -->
    <div>
      <label for="password">Password:</label>
      <input #password="ngModel" id="password" name="password" minlength="8" maxlength="10" type="password" [(ngModel)]="loginData.password" required />
      <div *ngIf="password.invalid && password.touched">
        <small style="color: red;">Enter Valid Password.</small>
      </div>
    </div>

    <!-- Designation Drop Down -->
    <div>
      <select #desig="ngModel" class="dropdown" name="designation" [(ngModel)]="loginData.designation" required>
        <option value="">Select One</option>
        <option value="admin">Admin</option>
        <option value="customer">Customer</option>
        <option value="employee">Employee</option>
      </select>
      <div *ngIf="desig.invalid && desig.touched">
        <small style="color: red;">Enter Valid Designation.</small>
      </div>
    </div>

    <!-- Submit Button -->
    <div style="margin-top: 10px;">
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>

  </form>
</div>